[Unit]
Description=Container Monitoring Agent
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStartPre=/usr/bin/docker pull 10.0.2.2:5000/google/cadvisor
ExecStart=/usr/bin/docker run -rm --name cadvisor-%i --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8080:8080 google/cadvisor
ExecStop=/usr/bin/docker stop cadvisor

[X-Fleet]
Conflicts=cadvisor@*.service
