[Unit]
Description=kibana ELK web frontend
After=elasticsearch@%i.service
Requires=elasticsearch@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill kibana-%1
ExecStartPre=-/usr/bin/docker rm kibana-%1
ExecStartPre=/usr/bin/docker pull factorish/kibana
ExecStart=/bin/sh -c "/usr/bin/docker run --rm --name kibana-%i \
  -p 5601:5601 -e SERVICE_514_NAME=kibana_http \
  -e HOST=$COREOS_PRIVATE_IPV4 \
  factorish/kibana"
ExecStop=/usr/bin/docker stop kibana-%1

[X-Fleet]
Conflicts=kibana@*.service
