[Unit]
Description=Logspout logging service
After=elasticsearch@%i.service
Requires=elasticsearch@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill logstash-%1
ExecStartPre=-/usr/bin/docker rm logstash-%1
ExecStartPre=/usr/bin/docker pull factorish/logstash
ExecStart=/usr/bin/docker run --rm --name logstash-%i \
  -p 514:514/udp -e SERVICE_514_NAME=logstash_syslog \
  -e HOST=$COREOS_PRIVATE_IPV4 \
  factorish/logstash
ExecStop=/usr/bin/docker stop logstash-%1

[X-Fleet]
Conflicts=logstash@*.service
